---

import MenuLayout from '../layouts/MenuLayout.astro';
import Section from '../components/menu/Section.astro';
import Item from '../components/menu/Item.astro';
import SizedItem from '../components/menu/SizedItem.astro';

import appetizers from "../data/menu/appetizers.json";
import soups from "../data/menu/soups.json";
import rices from "../data/menu/rice.json";
import noodles from "../data/menu/noodles.json";
import eggs from "../data/menu/egg.json";
import veggies from "../data/menu/veggies.json";
import beef from "../data/menu/beef.json"
import chickens from "../data/menu/chicken.json";
import pork from "../data/menu/pork.json";
import seafood from "../data/menu/seafood.json";

---

<MenuLayout title="MENU", iconName="menu">
    <div class="menu">
        <Section title="STARTERS"/>
        <div class="container">
            {appetizers.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices} />
            )}
        </div>
        <Section title="SOUPS"/>
        <div class="container">
            {
                soups.map(function(i) {
                    if (!i.largePrice) {
                        return <Item name={i.name}
                            description={i.desc}
                            price={i.price}
                            choices={i.choices}
                            isSpicy={i.isSpicy}/>
                    } else {
                        return <SizedItem name={i.name}
                            description={i.desc}
                            price1={i.price}
                            price2={i.largePrice}/>
                    }
                })
            }
        </div>
        <Section title="RICE"/>
        <div class="container">
            {
                rices.map(function(i) {
                    if (!i.largePrice) {
                        return <Item name={i.name}
                            description={i.desc}
                            price={i.price}
                            choices={i.choices}
                            isSpicy={i.isSpicy}/>
                    } else {
                        return <SizedItem name={i.name}
                            description={i.desc}
                            price1={i.price}
                            price2={i.largePrice}/>
                    }
                })
            }
        </div>
        <Section title="NOODLES"/>
        <div class="container">
            {noodles.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices}
                    isSpicy={i.isSpicy}/>
            )}
        </div>
        <Section title="EGG FOO YUNG"/>
        <div class="container">
            {eggs.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices} />
            )}
        </div>
        <Section title="VEGGIES"/>
        <div class="container">
            {veggies.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices}
                    isSpicy={i.isSpicy} />
            )}
        </div>
        <Section title="BEEF"/>
        <div class="container">
            {beef.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    isSpicy={i.isSpicy}/>
            )}
        </div>
        <Section title="CHICKEN"/>
        <div class="container">
            {chickens.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices}
                    isSpicy={i.isSpicy} />
            )}
        </div>
        <Section title="PORK"/>
        <div class="container">
            {pork.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices} />
            )}
        </div>
        <Section title="SEAFOOD"/>
        <div class="container">
            {seafood.map(
                (i) => <Item name={i.name}
                    description={i.desc} 
                    price={i.price}
                    choices={i.choices}
                    isSpicy={i.isSpicy} />
            )}
        </div>
    </div>
</MenuLayout>

<style>
    .menu {
        padding: 35px 70px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 35px;
        margin-bottom: 35px;
    }
    @media(max-width: 800px) {
        .container {
            column-gap: 15px;
        }
    }
</style>